

h1{
    margin:0;
    text-align: center;
}


.header{
    height: 10vh;
    margin: 0;
    padding: 0;
}
.row{
    height: 400px;
}


.game-board{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    min-height: 70%;
    margin: 0 auto;
    border:black 2px solid;
    justify-content: center;
}

.game-tile{
    width: 30%;
    border:green solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5rem;
}