* {
 box-sizing: border-box;
}
body{
    background: linear-gradient(gray, brown);
    /* height: 100vh; */
}

#ron-speaks p:first-child {
    border: 1px solid green;
}

#ron-speaks p{
    font-family:'Bebas Neue', cursive;
    background-color: gray;
    color: rgb(164, 54, 54);
    text-shadow: 1px 1px black;
    /* width: 100%; */
    line-height: 2rem;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
    
}
#ron,
#quotes{
    border: black 3px solid;
    vertical-align: top;
}

#ron div img{
    height: 60%;
    text-align: center;
    width: 100%;
}
#ron{

}

#query {
    font-size: 2rem;
}
    #query input{
        display: block;
        width: 50%;
        margin: 0 auto;
        border-radius: 10px;
        margin: 10px;
    }



