* {
    box-sizing: border-box;
}
body{
    padding: 0 40px;
    
}


main{
    vertical-align: top;
    width:100% ;
    border:black 1px solid;
    display: inline-block;

}
section,ul,li{
    width: inherit;
}

#drink-list li{
    border:green solid 2px;
    width: 100%;
    text-align: center;
}

.drink-container {
    width: 90%;
    border:red 1px solid;
    margin: 0 auto;
}

.drink-image{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    border:black 1px solid;
}
.drink-image img{
    width: 100%;
}
.drink-container .drink-info{
    width: 50%;
    display: inline-block;
}
